<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Map of locations close to {{ center.lat }}, {{ center.lng }}
        </h3>
    </div>
    <div class="panel-body">
        <sebm-google-map [latitude]="center.lat" [longitude]="center.lng">
            <sebm-google-map-marker *ngFor="let location of locations" [latitude]="location.location.lat" [longitude]="location.location.lng">
                <sebm-google-map-info-window [disableAutoPan]="false">
                    Click to read more about:<br>
                    <a [routerLink]="['/details', location.id]">{{ location.title }}</a>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>