<div class="panel panel-default" *ngIf="info">
    <div class="panel-heading">
        <h3 class="panel-title">
            Location Details: {{ info.headerTitle }} ({{ info.type }})
        </h3>
    </div>
    <div class="panel-body">
        <img [src]="info.imageUrl" [title]="info.title" />
        <p>{{ info.description }}</p>
        <a class="btn btn-xs" target="_blank" *ngFor="let button of info.buttons" [href]="button.actionData" [ngStyle]="{'background-color': button.color }">{{ button.text }}</a>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" routerLink="/">Back to map</a>
    </div>
</div>